Friendliness/bin/citibike/data/usagedata
Friendliness/bin/citibike/data/.taxidata.csv.swp
Friendliness/src/citibike/data/taxidata.csv
Friendliness/src/citibike/data/usagedata.txt
Friendliness/src/citibike/data/.taxidata.csv.swp
Distribution/usagedata.txt

